version: '3.8'

services:
    db:
        image: mysql:8.0
        container_name: taskboard-db
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: taskboard_db
        ports:
            - '3307:3306'
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - app-network

    # ----------------------------------------------------
    # Backend API
    # ----------------------------------------------------
    api:
        build:
            context: .
        container_name: taskboard-api
        restart: always
        ports:
            - '4000:3000'
        environment:
            DATABASE_URL: mysql://root:rootpassword@db:3306/taskboard_db
            JWT_SECRET: ${JWT_SECRET}
            PORT: 3000
        depends_on:
            - db
        networks:
            - app-network

    # ----------------------------------------------------
    # Frontend Web
    # ----------------------------------------------------
    web:
        build:
            context: ../task-board-react
            dockerfile: Dockerfile
        container_name: taskboard-web
        restart: always
        ports:
            - '8080:80'
        environment:
            - VITE_API_URL=http://localhost:4000
        depends_on:
            - api
        networks:
            - app-network

volumes:
    db_data:

networks:
    app-network:
        driver: bridge
